h1 Subscribe to my cool service
form.contact_form action="#{signups_path}" method="post"
  input[name="signup[email]" placeholder="Enter your email to continue" required="required" type="email"]
  input[name="submit" type="submit" value="Request Information"]
